<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minus
      accusantium at eos iusto id earum culpa recusandae consequatur eius
      deserunt cumque, delectus eligendi blanditiis corporis. Harum vero tenetur
      saepe natus rerum. Vero corrupti et obcaecati hic ipsa, quod blanditiis a
      distinctio non aperiam voluptate facilis in, quaerat officia expedita.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minus
      accusantium at eos iusto id earum culpa recusandae consequatur eius
      deserunt cumque, delectus eligendi blanditiis corporis. Harum vero tenetur
      saepe natus rerum. Vero corrupti et obcaecati hic ipsa, quod blanditiis a
      distinctio non aperiam voluptate facilis in, quaerat officia expedita.
    </p>
  </div>
</section>
