<section class="block container block-domain">
  <header class="block__header">
    <h2>Pocket Friendly Plans at your Doorstep</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, incidunt.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter Your PinCode here.." />
    <button class="btn btn-accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.Termite</span></li>
    <li>.Pest Control</li>
    <li>.Roaches</li>
    <li>.cockroaches</li>
    <li>.bugs</li>
    <li>.bedbugs</li>
  </ul>
</section>
