<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">Why Us?</a></li>
    <li class="nav__item"><a href="#">Services</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
  </ul>
</nav>

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">We Provide Best Services</h1>
      <p class="hero__tagline">for pest and termite termination</p>
      <a href="#" class="btn btn-accent btn--stretched">Get Started</a>
    </header>
    <img class="hero__image" src="images/banner.png" alt="banner" />
  </div>
</section>
<section class="block container block-domain">
  <header class="block__header">
    <h2>Pocket Friendly Plans at your Doorstep</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, incidunt.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter Your PinCode here.." />
    <button class="btn btn-accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.Termite</span></li>
    <li>.Pest Control</li>
    <li>.Roaches</li>
    <li>.cockroaches</li>
    <li>.bugs</li>
    <li>.bedbugs</li>
  </ul>
</section>
<section class="block container">
  <header class="block__header">
    <h2>Book Us For The Best Services Provided</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, consectetur.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Healthy Life</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
        molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloribus, natus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
        /> -->
      <img class="feature__img" src="images/easy.jpg" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">How we can help You?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
        molestiae? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloribus, natus?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <!-- <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
        /> -->
      <img class="feature__img" src="images/fast.jpg" alt="" />
    </picture>
  </article>
</section>
