<div class="media">
  <div class="media__image">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#settings"></use>
      </svg>
    </span>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start and managed updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo maiores
      suscipit explicabo. Illo minima eveniet, consequatur adipisci dolore
      praesentium inventore.
    </p>
  </div>
</div>
