<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Control</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="images/ipad.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start and managed updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
              maiores suscipit explicabo. Illo minima eveniet, consequatur
              adipisci dolore praesentium inventore.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start and managed updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
              maiores suscipit explicabo. Illo minima eveniet, consequatur
              adipisci dolore praesentium inventore.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start and managed updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
              maiores suscipit explicabo. Illo minima eveniet, consequatur
              adipisci dolore praesentium inventore.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
